.nav {
  background-color: maroon;
}
.link {
  text-decoration: none;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
}
.navtext {
  text-decoration: none;
  color: white;
  margin-right: 1rem;
}
.link:hover {
  color: grey;
}
body {
  background-image: url("./images/sitebackground.png");
  
}

@media (max-width: 500px) { 
   body { 
     background-image: url("./images/smlspawn3.png");
     background-size: 30rem 30rem;
   }
}
@media (max-width: 700px) { 
  body { 
    background-image: url("./images/smlspawn3.png");
    background-size: 40rem 40rem;
  }
}

.dash {
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.header { 
  position: absolute;
}
.header2 { 
  position: absolute;
  margin-top: 3rem;
}
.login {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10rem;
}

.button {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 10rem;
  margin-left: 1rem;
}
.buttons { 
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}


.title {
 color: white;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 45rem;
  height: 25rem;
}
 
.jumbo {
  width: 25rem;
  height: 25rem;
  background-color: grey;
  border-radius: 15%;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 45rem 0.5rem 2rem 2rem;
  padding: 2rem 2rem 2rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
}
.error { 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 20rem;
}
.centerRow { 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-direction: column;
}
.fixRow { 
  margin: 0 !important;
}
.footer {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2 { 
  justify-content: center;
  align-items: center;
  
}

.modalLine {
  flex-direction: row;
  margin-left: 3rem;
  margin-right: 3rem;
}

.head {
  margin-left: 10rem;
}

.playerName {
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 3rem;
}

.owners {
  display: flex;
  margin-top: 41.5rem;
  height: 10rem;
  position: absolute;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 20rem;
  height: 35rem;
  background: grey;
  border-radius: 5%;
  margin-left: 5rem;
  color: white;
}

.skins {
  width: 6rem;
  height: 6rem;
  margin: 1rem 1rem 1rem 1rem;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.tags {
  display: flex;
  float: left;
  text-align: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.ownerSkin { 
  margin-top: .5rem;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
}

.images { 
  margin-top: 5rem;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  
}

@media (max-width: 1500px) { 
  .owners { 
    display: none;
  }

  .jumbo { 
    margin: 0 2rem;
    margin-top: 2rem;
    position: relative; 
    align-items: center;
    text-align: center;
    float: none;
    color: white;
  }
  .credit { 
    display: none;
  }
  
}
  
  .discimg { 
    width: 20rem;
    height: 7.25rem;
    align-items: center;
    text-align: center;
    display: inline-block;
    
  }

  @media (max-width: 320px){ 
    .discimg { 
      max-width: 250px;
      max-height: 100px;
    }
    .img-container { 
      transition: none;
      max-width: 320px;
    }
  }
  @media (max-width: 280px){ 
    .discimg { 
      max-width: 260px;
      max-height: 100px;
    }
    .img-container { 
      max-width: 280px;
    }
  }
  .discord { 
    align-items: center;
    text-align: center;
   
  }
  .footer p { 
    text-align: center;
    margin-top:2rem;
  }
  .hamburger { 
    width: 2rem;
    height: 2rem;
    border: none !important;
  }
 
  @media (max-width: 780px) { 
    .footer { 
      text-align: center;
      align-items: center;
      display: flex;
      position: relative;
    }
    
  }

  @media (max-width: 700px) { 
    .logo { 
      width: 16.5rem;
      height: 8.9375rem;
    }
    .jumbo { 
     width: 22rem;
     height: 22rem;
      
    }

    .about { 
      max-width: 20rem;
      font-size: 1rem !important;
    }
  }

  @media (max-width: 770px) { 
    .navtext { 
      display: none;
    }
  }

  .info { 
    width: 30rem;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .about { 
    width: 40rem;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .gallery { 
    margin: 1rem;
    padding: 0;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    text-align: center;
    align-items: center;
    color: grey;
  }

  .jumbopics { 
    margin-top: 5rem;
    padding: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width :30rem;
    background-color: grey;
  }

  .img-container { 
    text-align: center;
    align-items: center;
    overflow: hidden;
    color:grey
  }
  .img-container img { 
    width:10rem;
    height: 10rem;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .img-container img:hover { 
    transform: scale(1.2);
  }
  .spawn { 
  position: absolute;
  width: 100%;
  height: 40rem;
}